<div class="auth-wrapper">
  <div *ngIf="!(angularFireAuth.authState | async)">
    <button class="color-transition" mat-raised-button appGoogleSignin>
      <img
        class="google-logo-img"
        src="/assets/google-logo.svg"
        alt="google-logo"
      />
      Login with Google
    </button>
  </div>

  <div *ngIf="!(angularFireAuth.authState | async)">
    <button class="color-transition" mat-raised-button appFacebookSignin>
      <img
        class="facebook-logo-img"
        src="/assets/facebook-logo.svg"
        alt="facebook-logo"
      />
      Login with Facebook
    </button>
  </div>

  <h5>OR</h5>

  <app-email-login></app-email-login>

  <div class="logout" *ngIf="angularFireAuth.authState | async as user">
    <p>
      Logged in as <strong>{{ user.email }}</strong>
    </p>
    <button mat-stroked-button (click)="angularFireAuth.signOut()">
      Logout
    </button>
  </div>
</div>
