<mat-sidenav-container class="sidenav-container color-transition">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="drawer.close()">Home</a>
      <a
        *ngIf="!(angularFireAuth.authState | async)"
        mat-list-item
        routerLink="/login"
        (click)="drawer.close()"
        >Login</a
      >
      <a
        *ngIf="angularFireAuth.authState | async"
        mat-list-item
        routerLink="/logout"
        (click)="onLogout()"
        (click)="drawer.close()"
        >Logout</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="color-transition">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="logo" routerLink="/"> 📙 OrtoCharge</span>
      <span class="fill-space"></span>
      <div *ngIf="!(isHandset$ | async)">
        <a mat-button routerLink="/kanban">⌨ Kanban</a>
        <a
          *ngIf="!(angularFireAuth.authState | async)"
          mat-button
          routerLink="/login"
          >🔑 Login</a
        >
        <a
          *ngIf="angularFireAuth.authState | async"
          mat-button
          (click)="onLogout()"
          >🚪 Logout</a
        >
      </div>
      <button mat-icon-button (click)="themeService.getNextTheme()">
        <mat-icon *ngIf="themeService.themeModeChanged.value == 'dark-mode'"
          >mode_night</mat-icon
        >
        <mat-icon *ngIf="themeService.themeModeChanged.value == 'light-mode'"
          >light_mode</mat-icon
        >
      </button>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <a mat-menu-item href="https://fireship.page.link/slack">
          <i>💬</i>
          <span>Chat on Slack</span>
        </a>
        <a
          mat-menu-item
          href="https://github.com/codediodeio/angular-firestarter"
        >
          <i>💾</i>
          <span>Code on Github</span>
        </a>
        <a mat-menu-item href="https://fireship.io/courses/angular">
          <i>🔥</i>
          <span>Full Course on Fireship</span>
        </a>

        <a
          mat-menu-item
          href="https://www.youtube.com/channel/UCsBjURrPoezykLs9EqgamOA"
        >
          <i>📺</i>
          <span>Watch on the YouTube</span>
        </a>
      </mat-menu>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
